<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>vue-1</title>
  <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- 本番バージョン、サイズと速度のために最適化されています -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <!-- テスト用js -->
  <script src="1.js"></script>
  <link rel="stylesheet" type="text/css" href="1.css">
</head>

<body>
  <div id="app">
    {{ message }}
  </div>

  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>

  <hr>

  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>


  <div id="app-4">
    <table>
      <tr v-for="data in datas">
        <td>{{ data.text }}</td>
      </tr>
    </table>
  </div>

  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>


  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <div id="app-7">
    <cop-1></cop-1>
    <ol>
      <todo-item></todo-item>
    </ol>
  </div>

  <div id="app-8">
    <div v-for="data in numbers">
      <cop-2 v-bind:prop="data"></cop-2>
    </div>
  </div>
</body>
</html>
